doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Emergencia
    body 
        div 
            div 
                form(action="POST" href="") 
                    div 
                        label(for="ala") ALA 
                        input(type="text" name="ala")
                    div 
                        label(for="Genero") Genero
                        input(type="text" name="genero") 
                    div 
                        label(for="motivo") Motivo
                        input(type="text" name motivo) 
                    button(type="submit") Buscar Habitacion