doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        block title 
            title Layout 
    body  
      
        block header

        h2 Esto es de la plantilla 
        block content 
    footer 
         
        block footer 
        h1  esto es el foot de la plantilla

        


