doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        section 
            .Login
                form(action="", method="POST")
                    .contenido 
                        label(for="nombre") Gmail  
                        input(type:email, name="gmail" )
                    .contenido 
                        label(for="contraseña") Contraseña
                        input(type:password , name="contraseña")
                button(type="submit") Ingresar 
                        

