doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        link(rel="stylesheet", href="/icons/bootstrap-icons.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" )
        title Iniciar sesion
    body.bg-primary
         

        .container.d-flex.flex-column.justify-content-center.align-items-center.vh-100
            form(action="",method="")
                .form-group
                    label.fs-1(for='email') Gmail
                    input.form-control(type='email', name='email' placeholder='Ingrese su gmail')
                .form-group
                    label.fs-1(for='password') Contraseña
                    input.form-control(type='password', name='password' placeholder='Ingrese su contraseña')
                button.btn.btn-primary.round(type='submit') Submit

        script(src="/js/bootstrap.bundle.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js") 
    footer
        .container.align-center.text-center
            p
            | &copy; 2025 | 
            i.fa.fa-value(aria-hidden='true') &HIServices;
                
         
        
       
    


